 /* CSS for the car shop page */
 
 .car_shop-header{
    background-image: url('https://getwallpapers.com/wallpaper/full/d/b/3/1100206-exotic-cars-wallpapers-1920x1080-hd-for-mobile.jpg');
    background-size: cover;
    height: 700px;
    color: white;    
}

.car_shop-stats {
    color: white
}

body {
    background-color: rgb(183, 183, 183);
}

.nav-link {
    color: white;

}

.nav-link:hover {
    color: rgb(244, 191, 19) ;
}